
.sponsors-wrapper {
    background-color: #f9f9f9; 
    padding: 60px 20px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #eeeeee;
}

.sponsors-container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.sponsors-title {
    font-size: 28px;
    font-weight: 700;
    color: #222;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: inherit;
}

.sponsors-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 50px; 
}

.sponsors-logos {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 80px; 
    flex-wrap: wrap;
}

.sponsor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 220px; 
    transition: transform 0.3s ease;
}

.sponsor-card:hover {
    transform: translateY(-5px); 
}

.logo-box {
    height: 160px;           
    width: 100%;
    display: flex;           
    align-items: center;     
    justify-content: center; 
    margin-bottom: 20px;     
}

.sponsor-img {
    height: 120px;       
    width: auto;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 0;    
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.05)); 
}

.sponsor-img.slaven-special-size {
    height: 155px; 
}

.sponsor-name {
    font-weight: 700;
    color: #333;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.sponsor-line {
    width: 1px;
    height: 180px; 
    background-color: #ddd;
    display: block;
    margin-top: 0;
}


@media (max-width: 768px) {
    .sponsors-logos {
        gap: 40px;
        flex-direction: column; 
    }

    .sponsor-line {
        width: 180px;  
        height: 1px;
        margin: 20px 0;
    }
    
    .sponsor-card {
        width: 100%; 
    }
    
}

.shop-availability {
    display: block;          
    margin-top: 8px;         
    font-size: 14px;         
    color: #0056b3;          
    text-decoration: none;   
    font-weight: 700 !important; 
    transition: color 0.2s;
}

.shop-availability:hover {
    color: #003d82;          
    text-decoration: underline;
}
