{% extends 'shop/base.html' %}

{% block title %}Kontakt - Nikotrade{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-dark text-white text-center py-3">
                    <h3>KONTAKT PODACI</h3>
                </div>
                <div class="card-body p-4 text-center">
                    <h4 class="mb-4">Niko Trade d.o.o.</h4>
                    <p class="fs-5"><strong>Adresa:</strong> Vatroslava Lisinskog 17, 42233 Sveti Đurđ</p>
                    <p class="fs-5"><strong>Email:</strong> <a href="mailto:info@nikotrade.hr" class="text-decoration-none">info@nikotrade.hr</a></p>
                    <p class="fs-5"><strong>Mobitel:</strong> <a href="tel:098241285" class="text-decoration-none">098 241 285</a></p>
                    
                    <hr class="my-4">
                    
                    <h5>Radno vrijeme</h5>
                    <p>Pon - Pet: 08:00 - 16:00<br>Subota: 08:00 - 12:00</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}